#pragma once

#define Engine_VERSION_MAJOR @RedPorsheEngine_VERSION_MAJOR@
#define Engine_VERSION_MINOR @RedPorsheEngine_VERSION_MINOR@
#define Engine_VERSION_PATCH @RedPorsheEngine_VERSION_PATCH@
#define ENGINE_VERSION_STRING "@RedPorsheEngine_VERSION@"
#define ENGINE_NAME "RedPorshe Engine"